.tabList {
    display: flex;
}

.tab {
    margin: 0rem;
    padding: 0.5rem;
    background: darkblue;
    color: white;
}

.tab--active {
    background: skyblue;
    color: black;
}

.expand {
    height: 100%;
}